@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url('./animations.css');

body {
  font-family: Montserrat, "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0;
  background: linear-gradient(240deg, #eeeeeed3, rgba(245, 222, 179, 0.629));
}

#page-wrapper {
  /* background-color: #EEE; */
  padding-top: 10vh;
}

#header {
  background: linear-gradient(210deg, #eee, rgba(245, 222, 179, 0.728));
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 10vh;
}
#header-img {
  height: 4.5vh;
  margin-left: 3vw;
}
#nav-bar {
  display: flex;
  align-items: center;
  background: transparent;
  height: 100%;
  margin-right: 5vw;
}
nav ul {
  /* background-color: yellow; */
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 30vw;
}

nav ul a,
footer ul a {
  color: black;
  font-size: 17px;
  font-family: Lato, sans-serif;
  text-decoration: none;
}

#hero {
  /* background-color: aquamarine; */
  /* font-size: 25px; */
  text-align: center;
  margin: 0 auto 20px auto;
}

.headerSubject {
  margin: 50px;
  font-size: 60px;
  color: rgba(0, 0, 0, 0.884);
}

#email {
  font-size: 23px;
  display: block;
  margin: auto auto 10px auto;
  width: 450px;
  height: 60px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(120, 96, 96, 0.37);
  padding-left: 30px;
  margin: 30px auto;
}



#hero input[type="submit"] {
  background-color: #f1c40f;
  border: none;
  height: 30px;
}

.btn {
  width: 150px;
  height: 30px;
  padding: 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 16px;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 3px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 10px;
}

.btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
.btn:active {
  background: rgba(255, 255, 255, 0.5);
}
.container {
  display: grid;
  justify-content: center;
  font-size: 18px;
}

.featuresContainer {
  /* background-color: white; */
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#features {
  display: grid;
  row-gap: 60px;
  /* background-color: pink; */
  max-width: 1000px;
  

}

.grid {
  border: 3px solid #fffefea3;
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
  padding: 15px;
}

.icon {
  display: flex;
  justify-content: center;
  color: darkorange;
  /* background-color: aliceblue; */
}

.desc {
  background: linear-gradient(90deg, #eeeeee12, rgba(245, 222, 179, 0.728));
  padding: 10px;
  border-radius: 0 60px 20px 0;
}
.desc p,
.desc h2 {
  margin: 0;
}

.pricingContainer {
  display: flex;
  justify-content: center;
  margin: 50px 0;
  height: auto;
  /* background-color: white; */
}

footer {
  background-color: yellowgreen;
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
  display: flex;
  margin: 20px 10px;
}

.videoContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

#video {
  background-color: white;
  width: 750px;
  height: 450px;
  border-radius: 2px;
}

.product {
  border: 2px solid black;
  border-radius: 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 370px;
  height: 400px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.27);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(151, 135, 135, 0.3);
}

ol {
  /* background-color: white; */
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  line-height: 30px;
  margin-top: 30px 0;
}

.level {
  background: rgba(148, 137, 137, 0.38);
  width: 100%;
  height: 45px;
  text-align: center;
  padding-top: 20px;
  font-weight: bold;
  font-size: 23px;
  border-radius: 16px 16px 0 0;
}

footer {
  height: 100px;
  margin-top: 30px;
  max-width: 90vw;
  background: rgba(194, 177, 177, 0.37);
  border-radius: 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.8px);
  -webkit-backdrop-filter: blur(4.8px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copyright {
  margin-bottom: 15px;
}

.footerLinksContainer {
  width: 60%;
  display: flex;
  justify-content: flex-start;
  /* background-color: white; */
  
}
.footerLinksContainer li {
  margin-left: 20px;
  
}